body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #242424;
}

h1{
    margin: 90px 0 0 0;
    font-size: 62px;
    font-weight: 300;
    color: #fff;
}

h2{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}

.br_10{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.br_5{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.br_2{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

a:hover, a:active{
    text-decoration: none;
}

a, button{
    text-decoration: none;
    -webkit-transition: all 400ms linear 0ms;
    -ms-transition: all 400ms linear 0ms;
    -o-transition: all 400ms linear 0ms;
    transition: all 300ms linear 0ms;
}

header{
    padding: 20px 0 0 0;
    position: absolute;
    background: rgba(0, 89, 148,.87);
    color: #fff;
    font-weight: 100;
    min-height: 115px;
    width: 100%;
}

.logo a{
    top: -20px;
    display: block;
    background: #fff;
    width: 135px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    position: absolute;
}

.top_menu{
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.top_menu a{
    color: #fff;
}

.top_menu a:hover{
    color: #84c800;
}

.top_phone{
    padding: 10px 0 0 0;
    text-align: center;
}

.top_phone span{
    font-weight: 500;
    font-size: 29px;
}

.call_back_container{
    padding-top: 17px;
    text-align: right;
}

.call_back{
}

.btn{
    font-size: 16px;
    color: #fff;
    background-color: #84c800;
    padding: 8px 20px;
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    background-color: #80c102;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
}

.btn i{
    margin-right: 10px;
}

#promo{
    padding: 235px 0 120px 0;
    background: url('../img/temp/promo_bg.png')no-repeat;
}

.sub_title{
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.sub_title span{
    background-color: #80c102;
    padding: 0 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.zapis{
    background: #fff;
    padding: 45px;
    margin: 0 5%;
    font-weight: 100;
    font-size: 18px;
    color: #000;
}

.zapis h3{
    font-size: 32px;
    text-align: center;
    color: #80c102;
    margin: 0 0 30px 0;
}

.zapis ul{
    margin-bottom: 35px;
}

.zapis form{
    text-align: center;
}

.zapis input{
    width: 90%;
    margin-bottom: 20px;
}

.check_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
}

.check_ul i{
    color: #80c102;
    margin-right: 15px;
}

.input_text{
    padding: 8px;
    background: #fbfbfb;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#plan{
    background: #fff;
    padding: 70px 0;
}

#plan h2{
    margin-bottom: 40px;
}

.set_plan{
    border: 1px solid #e5e5e5;
}

.set_plan .item{
    border-bottom: 1px solid #e5e5e5;
    padding: 40px;
}

.set_plan .item:last-child{
    border-bottom: none;
}

.set_plan .title{
    font-weight: 100;
    font-size: 22px;
    margin: 0 0 25px 0;
}

.count_area span{
    width: 45px;
    height: 35px;
    margin: 0 10px 0 0;
    line-height: 35px;
    text-align: center;
    border: 1px solid #e5e5e5;
    color: #cbcbcb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    display: inline-block;
    cursor: pointer;
}

.count_area span.active, .count_area span:hover{
    color: #fff;
    background: #80c102;
    border: 1px solid #80c102;
}

.check_sqd span{
    width: 50%;
    float: left;
    display: block;
}

.check_sqd{
    overflow: hidden;
}

.check_sqd label{
    font-size: 18px;
    font-weight: 100;
    padding: 0 0 0 10px;
}

#slider_price_left, #slider_price_right{
    display: block;
    float: left;
    width: 50%;
    padding: 15px 0 0 0;
    font-weight: 100;
}

.price{
    overflow: hidden;
}

#slider_price_left{
    text-align: left;
}

#slider_price_right{
    text-align: right;
}

.price .ui-state-default{
    background: rgb(128, 193, 2);
    border-radius: 50%;
    border: 1px solid rgb(128, 193, 2);
    cursor: pointer;
}

.price .ui-state-default:focus{
    outline: none;
}

.price .ui-slider-horizontal {
    height: .5em;
}

.manager{
    text-align: center;
}

.manager img{
    border-radius: 50%;
    width: 80%;
    border: 7px solid #80c102;
    margin-bottom: 20px;
}

.manager .title{
    color: #005286;
    font-size: 16px;
    font-weight: 300;
}

.manager .manager_text{
    font-weight: 100;
    margin-bottom: 20px;
}

.planirovki .item{
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.planirovki .item img{
    width: 80%;
    margin-bottom: 40px;
}

.planirovki_title{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.planirovki_price{
    position: absolute;
    background: #eaefff;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 400;
    bottom: -10px;
    left: center;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.23);
    left: 50%;
    margin-left: -25%;
}

.scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: rgb(128, 193, 2);
    width: 7px;
}

.scroll .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: rgb(128, 193, 2,.75);
    width: 7px;
}

.scroll .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.22);
}

.scroll .mCSB_scrollTools .mCSB_buttonDown {
    background-position: -80px -92px;
}

.scroll .mCSB_scrollTools .mCSB_buttonUp {
    background-position: -80px -71px;
}

#presentation{
   padding: 70px 0 0 0;
   background: url('../img/temp/presentation_bg.png')no-repeat;
}

#presentation h2{
    margin: 0 0 80px 0;
}

.presentation_text p{
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 40px;
    padding: 50px 0 0 0;
}

.btn_med{
    font-size: 22px;
    font-weight: 300;
}

#infra{
    background: #fff;
    padding: 70px 0;
}

#infra h2{
    margin-bottom: 50px;
}

.infra_sub_title{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 70px;
    text-align: center;
}

.img_body{
    margin-bottom: 30px;
}

.img_body img{
    width: 100%;
}

#infra .item span{
    display: block;
    margin: 15px 0 0 0;
    padding: 13px 0 0 85px;
    min-height: 75px;
    background: url(../img/temp/infra_ico.png)no-repeat;
    font-size: 20px;
    font-weight: 300;
}

#infra .item span.infra_ico_1{
    background-position: 0 0px;
}

#infra .item span.infra_ico_2{
    background-position: 0 -75px;
}

#infra .item span.infra_ico_3{
    background-position: 0 -150px;
}

#infra .item span.infra_ico_4{
    background-position: 0 -225px;
}

#ecspo_slider{
    padding: 70px 0;
    background: #f7f7f7 url(../img/temp/ecspo_bg.png)no-repeat right bottom;
    background-size: cover;
}

#ecspo_slider h2{
    margin-bottom: 50px;
}
 
.ecspo_slider_body{
    min-height: 450px;
}

.ecspo_slider_footer{
    text-align: center;
}

.ecspo_slider_title{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 0 0;
}

.dg-wrapper a {
    background: none;
    overflow: hidden;
}

.dg-wrapper a img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.dg-wrapper a div.bg_fon{
    background: rgba(0, 0, 0, 0.48);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}

.dg-wrapper .dg-center:hover div.bg_fon{
    background: rgba(0, 0, 0, 0.2);
}

.dg-wrapper .dg_video{
    display: none;
    position: absolute;
    color: #80c102;
    font-size: 122px;
    top: 70px;
    left: 187px;
}

.dg-wrapper .dg-center .dg_video{
    display: inline-block;
}

#ipoteka{
    padding: 70px 0;
    text-align: center;
    background: #fff;
    background: #fff url(../img/temp/bank_bg.png)no-repeat top left;
    background-size: 30%;
}
#ipoteka h2{
    margin-bottom: 50px;
}

.ipoteka_sub_title{
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 50px;
}

.ipoteka_sub_title_big{
    font-size: 24px;
    margin-bottom: 30px;
}

.ipoteka_arrow{
    font-size: 30px;
    color: #30c102;
    margin-bottom: 40px;
}

.ipoteka_arrow i{
    margin-right: 70px;
}

.ipoteka_arrow i:last-child{
    margin: 0;
}

.ipoteka_form input[type="text"]{
    font-weight: 100;
    width: 90%;
    padding: 10px 0 10px 8px;
    margin-bottom: 15px;
}

.ipoteka_form input[type="text"]:focus{
    border: 1px solid #afafaf;
    outline: none;
}

.ipoteka_form select{
    font-weight: 100;
    width: 90%;
    height: 45px;
    margin-bottom: 15px;
}

.ipoteka_form input[type="submit"]{
    margin-top: 30px;
}

#bank_slider{
    margin-bottom: 40px;
}

#bank_slider .item{
    border: 1px solid #e5e5e5;
    height: 120px;
    padding: 0 30px;
    text-align: center;
    background: #fff;
}

#bank_slider .item img{
    height: 100%;
    width: auto;
    margin: auto;
}

#bank_slider.owl-carousel .owl-nav.disabled {
    display: block;
}

#bank_slider .arrow_prev_owl,  #bank_slider .arrow_next_owl{
    position: absolute;
    top: 40px;
    width: 45px;
    height: 45px;
    border: 2px solid #30c102;
    border-radius: 50%;
    color: #30c102;
    font-size: 30px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
} 

#bank_slider .arrow_prev_owl:hover,  #bank_slider .arrow_next_owl:hover{
    color: #fff;
    background: #30c102;
}

#bank_slider .arrow_prev_owl{
    left: -70px;
}

#bank_slider .arrow_next_owl{
    right: -70px;
}

#info{
    padding: 70px 0;
    background: url('../img/temp/info_bg.png');
    background-size: cover;
}  

#info h2{
    margin-bottom: 50px;
}

.project_img{
    text-align: center;
}

.project_img img{
    width: 55%;
    margin-bottom: 20px;
}

.project_img a{
    width: 55%;
    margin-bottom: 20px;
    display: block;
    position: relative;
    margin: 0 auto 15px;
}

.project_img a img{
    width: 100%;
    margin: 0;
}

.project_img .fon{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    top: 0;
    cursor: pointer;
}

.project_img .fon i{
    color: #fff;
    font-size: 60px;
    margin: auto;
    margin-top: 44%;
    cursor: pointer;
}

.project_img a:hover .fon{
    display: block;
}

.project_img span{
    font-size: 10px;
    display: block;
    font-weight: 300;
}

.info_sub_title{
    font-size: 26px;
    color: #0067ad;
    font-weight: 300;
    margin-bottom: 40px;
}

#info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#info ul li{
    margin-bottom: 40px;
}

#info .item_title{
    font-weight: 300;
    font-size: 24px;
    color: #30c102;
}

#info .item_body{
    padding: 0 0 0 34px;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
}

