body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #242424;
}

h1{
    margin: 90px 0 0 0;
    font-size: 62px;
    font-weight: 500;
    color: #fff;
}

.br_10{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

a:hover, a:active{
    text-decoration: none;
}

a, button{
    text-decoration: none;
    -webkit-transition: all 400ms linear 0ms;
    -ms-transition: all 400ms linear 0ms;
    -o-transition: all 400ms linear 0ms;
    transition: all 300ms linear 0ms;
}

header{
    padding: 20px 0 0 0;
    position: absolute;
    background: rgba(0, 89, 148,.87);
    color: #fff;
    font-weight: 100;
    min-height: 115px;
    width: 100%;
}

.logo a{
    top: -20px;
    display: block;
    background: #fff;
    width: 135px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    position: absolute;
}

.top_menu{
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.top_menu a{
    color: #fff;
}

.top_menu a:hover{
    color: #84c800;
}

.top_phone{
    padding: 10px 0 0 0;
    text-align: center;
}

.top_phone span{
    font-weight: 500;
    font-size: 29px;
}

.call_back_container{
    padding-top: 17px;
    text-align: right;
}

.call_back{
}

.btn{
    font-size: 16px;
    color: #fff;
    background-color: #84c800;
    padding: 8px 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.btn:hover{
    background-color: #80c102;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
}

.btn i{
    margin-right: 10px;
}

#promo{
    padding: 235px 0 120px 0;
    background: url('../img/temp/promo_bg.png')no-repeat;
}

.sub_title{
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.sub_title span{
    background-color: #80c102;
    padding: 0 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.zapis{
    background: #fff;
    padding: 45px;
    margin: 0 5%;
    font-weight: 100;
    font-size: 18px;
    color: #000;
}

.zapis h3{
    font-size: 32px;
    text-align: center;
    color: #80c102;
    margin: 0 0 30px 0;
}

.zapis ul{
    margin-bottom: 35px;
}

.zapis form{
    text-align: center;
}

.zapis input{
    width: 90%;
    margin-bottom: 20px;
}

.check_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
}

.check_ul i{
    color: #80c102;
    margin-right: 15px;
}

.input_text{
    padding: 8px;
    background: #fbfbfb;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}


